html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  //background-color: #202020;
  background-color: black;
}

.more-info {
  color: rgba(236, 236, 236, 0.8);
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text_is_white {
  color: aliceblue !important;
}
.loading {
  @keyframes ldio-utiarr3f3mc {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .ldio-utiarr3f3mc div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-utiarr3f3mc linear 1s infinite;
    background: #0051a2;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }
  .ldio-utiarr3f3mc div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #0051a2;
  }
  .ldio-utiarr3f3mc div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #0051a2;
  }
  .loadingio-spinner-spinner-ksvwgp65bu8 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-utiarr3f3mc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-utiarr3f3mc div {
    box-sizing: content-box;
  }
  /* generated by https://loading.io/ */
}

.images_div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-right: 4rem;
  margin-right: 4rem;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(145, 145, 145);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(145, 145, 145);
  border-radius: 20px;
  border: 4px solid rgb(0, 0, 0);
}

.buttons-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  margin-top: 32px;
  padding-right: 40px;

  button {
    box-shadow: none;
    border: 0px;
    background-color: black;
    color: white;
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.is-uppercase {
  text-transform: uppercase;
}
